@font-face
{
	font-family: "Breymont-Bold";
	src: url('../fonts/Breymont-Bold.ttf') format('truetype');
}
@font-face
{
	font-family: "MontserratAlternates-Thin";
	src: url('../fonts/MontserratAlternates-Thin.ttf') format('truetype');
}
@font-face
{
	font-family: "MontserratAlternates-Bold";
	src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
}
@font-face
{
	font-family: "Mina-Regular";
	src: url('../fonts/Mina-Regular.ttf') format('truetype');
}
:root
{
	--minvisibili :276px;
	--azulUltra :#418BE5FF;
	--verdePasto: #14AA00FF;
	--verdePastoP: #147B00FF;
	--gray: #939393FF;
	--grayBlue: #CCDFEDFF;
	--white: #fff;
	--blackgray: #222;
	--greenWater: #077;
	--whiteblue: #f5fefd;
}
html
{
	font-size: calc(1em + 1vw);


}
canvas
{
	background-size: cover;
}
*{
	font-family: Mina-Regular;

}
body
{
	min-height: 600px;
}
.azulUltra
{
	color: var(--azulUltra);
}
.blue-
{
	color: #45748CFF;

}
.green
{
	color: var(--verdePastoP);

}

.text-deco-no
{
	text-decoration: none;

}


.visible
{
	display: none;
}

.container
{
	overflow: hidden;
	min-width: var(--minvisibili);
}
.stn-front-page,.menu-desplegable
{
	min-width: var(--minvisibili);
}
.title-vol2
{

}

/*=============================
=            Flexs            =
=============================*/
.flex-star 
{
	justify-content: space-evenly;
}
.flex-g2
{
	flex-grow: 2;

}
.flex-ctr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-ctr-wrap
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.flex-ctr-column
{
	
  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1rem;

}
.jus-ctr-not
{
	justify-content: unset;
}
/*=====  End of Flexs  ======*/

/*==============================
=            Header            =
==============================*/
.nav-flex
{
	
	padding: .5rem 0 0.5rem;
	color: var(--white);
	background-color: var(--blackgray);
	max-height: 40px;
	min-width: var(--minvisibili);
	max-width: 100vw;
 	position: sticky;
	z-index: 100;
	top:0;
	display: flex;





}

 .nav-session,.nav-content,.nav-menu
 {
 	flex-grow: 1;
 }
/*===================================
=            nav-logo            =
===================================*/
.logo  
{
	
	font-family: 'Breymont-Bold';
	font-size: 1rem;
	text-align: center;
	letter-spacing: .2rem;
	color: var(--white);
	z-index: 20;


}

/*=====  End of nav-logo  ======*/


/*===================================
=            nav-content            =
===================================*/

.nav-content
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}
.nav-content a 
{
	text-decoration:none;
} 
.nav-content li
{
	list-style: none;
}
.nav-content a
{
	border-bottom: 3px var(--white) solid;
	border-radius: .09rem;
	font-family: 'MontserratAlternates-Thin', sans-serif;
	font-size: .8rem;
	transition: .5s;
	color: var(--white);


}

.nav-content  li
{
transition: .5s;
}
.nav-content  li:hover
{
	transform: translateY(-.2rem);
}
/*=====  End of nav-content ======*/

/*===================================
=            nav-session            =
===================================*/
 .nav-session
 {
	
	display: flex;
	justify-content: center;
	align-items: center;


 }
 .nav-session a 
 {
 	text-decoration:none;
 }
 .nav-session__span
 {
 	font-family: MontserratAlternates-Bold;
 	font-size: .6rem;
 	border: 2px var(--white) solid;
 	background-color: var(--white);
 	padding: .4rem;
 	color: var(--blackgray);
 	border-radius: .2rem;
 	transition-property: background-color color;
 	transition-duration: 1s;




 }
  .nav-session__span:hover
  {
  	background-color: var(--blackgray);
  	color: var(--white);
  }

/*=====  End of nav-session  ======*/
.nav-menu
{
	
	display: none;
	align-items: center;
	
}
.menu-img
{
	width: 1.5rem;

	height: 1.5rem;
	z-index: 10;
	transition-duration: 1s;
}

.menu-desplegable
{
	display: none;
	background-color: var(--blackgray);
	border-radius:0 .5rem  .5rem 0 ;
	position: absolute;
	padding-bottom: .5rem ;
	z-index: 2;
	list-style: none;
	filter: opacity(80%);
	left:0;
	width: 90vw;
	
	
}



@keyframes memuDesplegable 
{
	from
	{
		transform :translateX(-6rem) translateY(4.2rem);
			filter: opacity(0%);
	}
	to
	{
		transform :translateX(0rem)translateY(4.2rem) ;
			filter: opacity(100%);
			z-index: 1;
	}
}
@keyframes memuDesplegableNone
{
	from
	{
		transform :translateY(4.2rem);
			filter: opacity(100%);
			 pointer-events: none;
	}
	to
	{
		transform :translateY(0rem);
			filter: opacity(0%);
			
	}
}
/*=====  End of Header  ======*/










/*============================
=            container-front-page            =
============================*/
.front-page
{
	background-image: url("../images/grass.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	min-width: var(--minvisibili);
}

/*=======================================
=            front-container            =
=======================================*/

/*==================================
=            front-text            =
==================================*/

.text-1
{
	 text-align: center;
	 color: var(--white);
}

.text-1 p 
{

 font-size: .8rem;
  
}
.text-1 b
{
	color: var(--azulUltra);
}

/*=====  End of front-text  ======*/
/*========================================
=            front-searchTeam            =
========================================*/


.form-searchTeam
{
	padding: 2rem;
	text-align: center;
	width: 70%;
	display: flex;
	opacity: .8;

}


/*======================================
=            searchTeam-inp            =
======================================*/

.front-searchTeam__input
{
	flex-grow: 3;
	font-size: .7rem;
	padding: 0.3rem;
	outline: none;
	border: none;
	border-radius: .2rem  0  0 .2rem ;
	color: #999;
	text-align: center;
	
}
/*=====  End of searchTeam-inp  ======*/
/*======================================
=            searchTeam-btn            =
======================================*/

.searchTeam-button
{
	flex-grow: 1;
	min-height: 100%;
	background-color: var(--verdePasto);
	font-size: .7rem;
  padding: 0.3rem;
	border: none;
	color:var(--white);
	border-radius:   0 .2rem .2rem  0 ;
	transition-duration: 1s;
	
}
.searchTeam-button:hover
{
		
		background-color: var(--verdePastoP);
		transform: translateX(-1rem); 
		
		
}


/*=====  End of searchTeam-btn  ======*/
/*=====  End of front-searchTeam  ======*/
/*=====  End of front-container  ======*/
/*=====  End of stn-front-page  ======*/











/*======================================
=            stn-main            =
======================================*/
.box-ctr-boder
{
	padding-bottom: 1rem;
	padding-top: 1rem;
	width: 85%;
	margin: auto;
}
/*======================================
=            main-conteiner            =
======================================*/

/*===============================
=            profile            =
===============================*/
.profile-grid
{
	
	display: grid;
	margin: auto;
	width: 95%;
	grid-template-areas: 
		"box1 box1 box1"
		"box1 box1 box1"
		"imgP imgP box2"
		"imgP imgP box2";
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: .3rem;
	padding: .2rem;
}

.profile-box1
{
	grid-area: box1;

}
.profile-img
{
 grid-area: imgP;
 display: flex;
 align-items: center;
 justify-content: center;
 filter:drop-shadow( rgb(38, 57, 77) .5rem .4rem  .3rem );

}

.profile-img img
{
	width: 8rem;
	padding: 1rem;
}
.profile-box1
{
	text-align: justify;
	
	
	adding: .5rem;
	
}
.profile-box1 h3 
{
	font-size: 1.5rem;
	letter-spacing: .3rem;
	text-align: center;
	font-family: 'Breymont-Bold';
}
.profile-box1 p 
{
	font-size: .65rem;
	list-style: none;
	width: 90%;
	margin: auto;
	color: var(--gray);
}
.profile-box2
{
	margin: auto;
	grid-area: box2;
} 

.ben-title
{	
	display: block;
	text-align: center;
	font-size: .8rem;
	color: var(--azulUltra);
	font-family:  MontserratAlternates-Bold;
}

/*==================================
=            beneficios            =
==================================*/
.js-ben
{
	padding-top: 1rem;
}
.ben-item
{
	display: flex;
	justify-content: space-around;
	padding: .5;
	opacity: 0;
}
.img-ben
{
	width: 2rem;
	padding:  0 1rem  0 1rem  ;
	


}
.ben-text
{
	font-size: .55rem;
	text-align: center;
	color: #B4CEDDFF;

}
.animationLeft
{
 animation: leftRight 1s forwards;

}
.animationRigth
{
 animation: rigthLeft 1s forwards ;

}
/*=====  End of beneficios  ======*/

@keyframes leftRight
{
	from 
	{
		transform: translateX(-2rem);
		
	}
	to
	{
		transform: translateX(0rem);
		 opacity: 1;
	}
	
}
@keyframes rigthLeft
{
	
	from 
	{
		transform: translateX(2rem);
		
	}
	to
	{
		transform: translateX(0rem);
		 opacity: 1;
	}
}

/*=====  End of profile  ======*/


/*=====  End of main-conteiner  ======*/



/*=====  End of stn-main  ======*/








/*=================================
=            stn-teams            =
=================================*/
.stn-teams
{
	padding: .5rem;
	background-color: var(--whiteblue);
	text-align: center;
}


.margin-btn
{
	margin-bottom: 3rem;
}
/*----------  Item  ----------*/
.team-item
{
	width:25%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	background-color: var(--greenWater);
	border-radius: .5rem;
	margin: .1rem;
	padding-bottom: .5rem;	
	filter: brightness(.2);
	transition-duration: 1s;
	opacity: 0;
	position: relative;
}

.team-item:focus {
	filter: brightness(1.0);
	position: relative;
	transform: translateY(0) !important;
	
}
.team-item:hover {

	transform: translateY(0) !important;
		filter: brightness(1.0);
	
}
.team-img
{
	margin-bottom: .5rem;
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.team-img img 
{
  width: 5rem;
  height: 4rem;
}
/*----------  Info  ----------*/
.team-info 
{
	padding: 0;
	width: 100%;
}
.name-title
 {
 	text-align: center;
 	font-size: 1rem;
 	color: var(--white);
 	font-family:'MontserratAlternates-Bold';
 	letter-spacing: .05rem;
 	}

/*content perf*/
.info-item 
{

	background-color: #111;
	flex-grow: 1;
	padding: .1rem;
	margin: .1rem;
	width: 100%;
	font-family: 'MontserratAlternates-Thin';
	transition-property: background-color padding;
	transition-duration: 1s;

}
.info-item:hover
{
	background-color: var(--blackgray);



}
.title-vol5 
	{

		font-size: .5rem;
		color:var(--grayBlue); 
		margin-bottom: .2rem;
		letter-spacing: .06rem;
	}
.text-vol3
	{
		font-size: .5rem; 
		font-weight: 900;
		letter-spacing: .05rem;
		color: var(--greenWater);

	}
.button-n2
{
		margin: .3rem;
	  text-decoration:none;
	  padding: .3rem;
	  border-radius: .2rem;
	  border: .1rem solid var(--greenWater);
	  transition-duration: 1s;
	  font-size: .5rem;
	 	background-color: var(--white);
		color: var(--greenWater);



}
.button-n2:hover
{
	background-color: var(--greenWater);
	color: var(--white);
}
/*----------  Animaciones Teams  ----------*/
.scrollTeams
{
	animation: scrollTeams 1s forwards;
}
@keyframes scrollTeams 
{
		to{
		transform:translateY(0rem);
		opacity: 1;
	}
	from{
		transform: translateY(-4rem);
	}

}

/*=====  End of stn-teams  ======*/



/*==============================
=            footer            =
==============================*/
.footer
{
	background-color: var(--blackgray);
	
	
}
.p-0 
{
	padding: 0;

	justify-content: space-around;
}
.contact
{  }
.contact img 
{
	width: 1.5rem;
	margin:   1rem 1rem 0 1rem ;
	transition-duration: .5s;
}
.contact img:hover
{
	transform: translateY(-.2rem);
}
.item
{
	margin-top: .2rem;
	padding-bottom: .2rem;
	display: flex;
	flex-direction: column;
	
}
/*----------  logo-img  ----------*/
.logo-img
{
	width: 2rem;
}
/*---------- list  ----------*/
.list 
{
	font-size: .55rem;
	list-style: none;



}
.list li  a 
{
	padding: .05rem;
color: var(--gray);
	
}
.list li  a:hover
{
	color: var(--white);
}
.span-t1
{
		text-align: center;
	font-size: .5rem;
	color: var(--gray);
}

/*=====  End of footer  ======*/




/* session */

.img-back-cover
{
	width: 50%;
	height:100%;
    position: relative;
    z-index: 1;
     background-image: url(https://p4.wallpaperbetter.com/wallpaper/16/671/726/lionel-messi-football-barcelona-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(.5);

    

}
.img-back-cover::before {
    content: "Inicia session";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-family: MontserratAlternates-Bold;
    
   
}

.with70-center
{
	justify-content: center;
	align-items: center;
	width: 100%;
	height: -webkit-fill-available;

}
.input-v4
{
	border: none;
	outline: none;
	width: 100%;
	background-color: transparent;
	font-size: .5rem;
	color: var(--gray);

}
.bkgrod-gray
{
	background-color: rgba(0,0,0,0.2);
	width: 50%;
	height: 100%;


}
.btn-v5
{
	padding: .5rem;
	font-family: MontserratAlternates-Bold;
	color: var(--white);
	background-color: var(--blackgray);
	border: none;
	font-size: .5rem;
	border-radius: .2rem;
	width: 60%;
	transition-duration: 1s;
}
.btn-v5:hover
{
	background-color: var(--gray);
}
.li-p li
{
	margin:.5rem  0  .5rem 0  ;
	
	border-left: .3rem solid var(--blackgray);
	display: flex;
	width: 100%;
}
.li-p
{
	list-style: none;
	
	transition-duration: 1s;
	justify-content: center;
}
.li-Di
{
	height: 30%;
}

.adpta-Movil
{
	width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}



.img-min
{
	width: 1rem;
	padding: .1rem;
}



.backgrond-black
{
	 background-color: var(--white);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	border-radius: .2rem;
	padding: .5rem;
	height: 75%;
	overflow: hidden;

}

.mgn-1
{margin: .3rem;}
.j-co
{
	justify-content: space-between;
}
.j-co-e
{
	justify-content: space-evenly;
}
.bor-ra-0
{
	border: .01rem solid var(--blackgray);
}
.clickSing
{
	  	background-color: var(--blackgray);
  	color: var(--white);
}
.tfm-Y-1
{

}

.sing
{
	animation: sing 1s forwards ;
}
.singL
{
	animation: singL 1s forwards ;
}
@keyframes sing 
{
	from 
	{
		transform: translateX(8rem);
	}
	to
	{
		transform: translateX(0rem);
	}
}
@keyframes singL 
{
	from 
	{
		transform: translateX(-8rem);
	}
	to
	{
		transform: translateX(0rem);
	}
}




.pdg-1
{
	padding: .1rem;
}

/*==============================
=            Text-v            =
==============================*/
.text-v1
{
	color: var(--white);
	font-family: MontserratAlternates-Bold;
}
.text-v2
{
	color: var(--white);
	font-size: .5rem;
	font-family: MontserratAlternates-Bold;
}
.text-v3
{
	color: #00A66CFF;
	font-size: .5rem;
	font-family: MontserratAlternates-Bold;
}
.text-v4
{
	color: #4086F4FF;
	font-size: .4rem;
	font-family: MontserratAlternates-Bold;
}
.text-v6
{
	color: var(--blackgray);
	font-size: .7rem;
	font-family: MontserratAlternates-Bold;
}

/*=====  End of Textx-v  ======*/


/*==============================
=            clubs-            =
==============================*/
.clubs-pag
{
	background-image: url("../images/back.png ");
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: 15rem;

	background-color: var(--blackgray);
}


/*=====  End of clubs-  ======*/







@media screen and (min-width: 800px)
{
	.tems-content
	{

		flex-wrap: nowrap;
		justify-content: unset;
		align-items: unset;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: 100%;
		justify-items: center;
		margin-bottom:  0rem;
	
		

	}
	.team-item
	{
	width:90%;
	}
	.team1{grid: 1/2}
	.team2{grid:  2/3;}
	.team3{grid:  4/5;}
	.team4{grid:  5/6;}
}


@media screen and (max-width: 800px)
{
	.team-item
{
width: 95%;

}
.tems-content
{
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
}
.img-back-cover
{
	width: 100%;
	height: 35%;
	background-size: cover;
	transition-duration: 1s;
}
.img-back-cover:hover
{
		background-position: top ;
		
}
.bkgrod-gray
{
 	height: 65%;
 	width: 100%;
}
.with70-center
{

	
}
}



@media screen and (max-width: 480px)
{


	.nav-flex
	{
		justify-content: space-around;
	}
	.logo
	{
		flex-grow:unset;
		transform: unset;
	}
	.nav-content
	{
		display: none;
		width: unset;
		margin-bottom:.5rem ;

	}

	.nav-session
	{
		display: none;
	
	}
	.nav-menu
	{
		display: flex;
	}

	.visible  
	{
		padding: 0;
		height: 1.5rem

	}

		.visible
	{
		display: flex;
		
	}

		.form-searchTeam
	{
	
		display: flex;
		flex-direction: column;
	}
	.front-searchTeam__input
	{
			border-radius: .2rem .2rem  0 0  ;

	}
	.searchTeam-button
	{
			border-radius:  0  0 .2rem .2rem  ;
	}
	.searchTeam-button
	{
		width: 100%;

	}
	.searchTeam-button:hover
	{
			
			background-color: var(--verdePastoP);
			
			transform: translateX(0rem); 
			
			
	}

	.profile-grid
{
	
	
	grid-template-areas: 
		"box1 box1 box1"
		"box1 box1 box1"
		"imgP imgP imgP"
		"imgP imgP imgP"
		"box2 box2 box2"
		"box2 box2 box2";


}
.profile-box2
{
	padding-top: 1rem;
	margin: 0;
} 


	.team-item
{
	width: 100%;
}
.tems-content
{
	display: flex;
	width: 70%;
	margin: auto;
}
.come
{
	font-size: 5rem;
}

.with70-center
{

}
}

